table, td{
  border-left:1px solid rgb(232, 234, 239) ;
  border-bottom: 1px solid rgb(232, 234, 239);
}

.table{
  width: 70%;
  height: 20px;
  text-align: left;
  border-radius: 10px;
  border-spacing: 0; /* Remove espaçamento entre bordas */
  overflow: hidden; /* Garante que o conteúdo respeite o border-radius */
  border-collapse: separate; /* Importante: Necessário para respeitar o border-radius */
  border: 1px solid rgb(232, 234, 239);
}
.thead{
  background-color: rgb(232, 234, 239);
}

th,td{
  
  padding-left: 10px;
}
td{
  cursor: pointer;
}