/* Estilo geral da tabela */
.table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.container {
  width: 70%;
  max-height: 600px;
  overflow-y: auto; /* Scroll vertical no container */
  border: 1px solid rgb(232, 234, 239); 
  border-radius: 8px;
}

/* Cabeçalho fixo */
.thead th {
  position: sticky; /* Torna o cabeçalho fixo */
  top: 0; /* Posiciona o cabeçalho no topo do container */
  background-color: rgb(232, 234, 239); /* Cor de fundo */
  z-index: 1; /* Garante que o cabeçalho fique acima das células */
}

/* Estilo das células */
th, td {
  text-align: left;
  padding: 10px;
  border: 1px solid rgb(232, 234, 239); 
}

td {
  cursor: pointer;
}

/* Estilo para a barra de rolagem (scrollbar) */
.container::-webkit-scrollbar {
  width: 6px; /* Largura da barra de rolagem */
}

.container::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3); /* Cor do "polegar" (a parte que você move) */
  border-radius: 10px; /* Bordas arredondadas para um visual "flutuante" */
}

.container::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5); /* Cor ao passar o mouse por cima */
}

.container::-webkit-scrollbar-track {
  background: transparent; /* Fundo transparente */
}
