section{
  width: 30%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid rgb(232, 234, 239);
  border-radius: 10px;
  margin-right: 30px;
}
.infoHeader{
  display: flex;
  flex-direction: row;
  padding-bottom: 26px;
}

.sectionImg{
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  border-radius: 20px;
  background-color: lightgrey;
}
.sectionInfo{
  margin-left: 20px;
  align-items: center;
}
.contactInfo{
  padding-top: 10px;
  border-top: 1px solid rgb(232, 234, 239);
}